.main {
    flex: 1;
}

.bg-dark {
  background-color: #12002b;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important; /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; /* 3 */
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
}

.header {
    color: #fff;
    margin-bottom: 2rem;
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

@media (min-width: 720px) {
    .account {
      flex-direction: row;
    }
}

.modal{
    background-image: linear-gradient(transparent 0%, white 30%);
    background-color: white;
    overflow: visible;
}
dialog{
    position: relative;
    border: none;

}
[data-icon="circle-xmark"]{
    font-size: 2rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    color: white;
    border-radius: 50%;
    border: 2px solid #00bc77;
    background-color: #00bc77;
}
dialog::backdrop{
    background-color: rgb(0,0,0,.3);
  }